.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 100px 100px;
}

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.product p {
  margin: 0;
}

.product img {
  margin-top: 5px;
  max-width: 70%;
  height: auto;
  margin-bottom: 10px;
}

.product-link {
  font-size: 14.5px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: underline;
}
