.edit-product-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.edit-product-container {
  width: auto;
  height: 600px;
  overflow: auto;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(150px);
  color: white;
  border-radius: 10px;
  padding: 10px 10px 20px;
}

.edit-product-container h2 {
  font-size: 25px;
  text-align: center;
}

.edit-product-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.edit-product-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.add-product-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-button:hover {
  opacity: 0.8;
}

.edit-product-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.edit-product-container h2 {
  font-size: 25px;
  text-align: center;
}

.edit-product-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.edit-product-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.add-product-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-button:hover {
  opacity: 0.8;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  word-wrap: break-word;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
