.cart-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.cart-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  position: relative; /* Set position to relative */
}

.cart-items {
  width: 800px;
  height: 602px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}

.cart-item {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between; /* Ensure the item details and actions are spaced apart */
}

.cart-item img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* Allow the details to take up available space */
}

.item-details h3 {
  margin: 0;
  font-size: 18px;
}

.item-details p {
  margin: 5px 0;
  font-size: 16px;
}

.item-actions {
  display: flex;
  align-items: center; /* Align actions next to each other */
}

.item-actions select,
.item-actions button {
  margin-left: 10px;
  padding: 5px;
}

.cart-overview {
  margin-left: 40px;
  height: 200px;
  width: 200px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.cart-overview h3 {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.order-button {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  background: #d19f14;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.order-button:hover {
  background-color: #bda209;
}

.cart-items::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: rgba(90, 139, 50, 0.3);
  border-radius: 6px;
}

.clear-button {
  width: 100px;
  height: 30px;
  background: red;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 700;
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
}
